.btn_mark {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.content_btn_mark {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 5px;
  width: 100px;
  height: 40px;
}
.header_Popover {
  display: flex;
  align-items: center;
  justify-content: center;
}
