.root {
  display: flex;
  height: 100vh;
  background-image: url("../../../Images/banner-01-min-1001.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  width: 400px;
  margin: 30px auto;
  background: #fff;
  backdrop-filter: blur(50px);
}

.image_company {
  margin: 15% auto 10%;
  width: 120px;
  height: 120px;
  background-image: url("../../../Images/1594443390252.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo_title {
  text-align: center;
  margin: 20px auto;
  width: 80%;
  height: 35px;
  font: {
    size: 30px;
    weight: bold;
    style: normal;
  };
  line-height: 37px;
  color: #1ABC9C;
}
