.root {
  padding: 20px;
  display: block;
  height: 100%;
}

.label {
    // background-color: aqua;
    margin-bottom: 20px;
}

.brand_label{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50% ;
    color: #fff;
    width: 25px;
    height: 25px;
    background-color: #6200ff;
    font: {
      size: 18px;
      weight: 500;
    }
}

.content_label{
    margin-left: 10px;
    font: {
        size: 20px;
        weight: 500;
      }
    line-height: 25px;
}